In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/kaggle/input/visual-taxonomy/train.csv')

In [3]:
df.head()

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
0,0,Men Tshirts,5,default,round,printed,default,short sleeves,NaN,NaN,NaN,NaN,NaN
1,1,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
2,2,Men Tshirts,5,default,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
3,3,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
4,4,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN

In [4]:
len(df)

70213

In [5]:
df['Category'].unique()

array(['Men Tshirts', 'Sarees', 'Kurtis', 'Women Tshirts',
       'Women Tops & Tunics'], dtype=object)

In [6]:
df['len'].unique()

array([ 5, 10,  9,  8])

In [7]:
unique_categories = ['Men Tshirts', 'Sarees', 'Kurtis', 'Women Tshirts',
       'Women Tops & Tunics']

for category in unique_categories:
    len_cate = df[(df['Category'] == category)]['len'].unique()
    print(len_cate)

[5]
[10]
[9]
[8]
[10]

In [8]:
# Get unique categories
unique_categories = df['Category'].unique()
print("Unique categories:")
print(unique_categories)

# Get unique values for each attribute from att_1 to att_10 for all categories
unique_attributes_by_category = {}
for category in unique_categories:
    filtered_df = df[df['Category'] == category]
    # print(filtered_df)
    # print(filtered_df.value_counts())
    unique_attributes = {}
    for i in range(1, 11):
        col_name = f'attr_{i}'
        # unique_attributes[col_name] = filtered_df[col_name].dropna().unique()
        unique_attributes[col_name] = filtered_df[col_name].unique()
        
    unique_attributes_by_category[category] = unique_attributes

for category, attributes in unique_attributes_by_category.items():
    print(f"\nCategory: {category}")
    for attr, values in attributes.items():
        print(df[df['Category'] == category][attr].value_counts(dropna=False))
        print(f"  Unique values for {attr}: {values}")
        print("\n\n---------------------------------\n\n")

Unique categories:
['Men Tshirts' 'Sarees' 'Kurtis' 'Women Tshirts' 'Women Tops & Tunics']

Category: Men Tshirts
attr_1
default       2132
multicolor    1821
NaN           1257
white         1253
black          804
Name: count, dtype: int64
  Unique values for attr_1: ['default' 'multicolor' 'black' 'white' nan]


---------------------------------


attr_2
polo     3085
round    3059
NaN      1123
Name: count, dtype: int64
  Unique values for attr_2: ['round' 'polo' nan]


---------------------------------


attr_3
solid      3185
printed    2606
NaN        1476
Name: count, dtype: int64
  Unique values for attr_3: ['printed' 'solid' nan]


---------------------------------


attr_4
solid         3197
default       1971
NaN           1318
typography     781
Name: count, dtype: int64
  Unique values for attr_4: ['default' 'solid' nan 'typography']


---------------------------------


attr_5
short sleeves    5647
NaN              1290
long sleeves      330
Name: count, dtype: int64
  Unique values for attr_5: ['short sleeves' 'long sleeves' nan]


---------------------------------


attr_6
NaN    7267
Name: count, dtype: int64
  Unique values for attr_6: [nan]


---------------------------------


attr_7
NaN    7267
Name: count, dtype: int64
  Unique values for attr_7: [nan]


---------------------------------


attr_8
NaN    7267
Name: count, dtype: int64
  Unique values for attr_8: [nan]


---------------------------------


attr_9
NaN    7267
Name: count, dtype: int64
  Unique values for attr_9: [nan]


---------------------------------


attr_10
NaN    7267
Name: count, dtype: int64
  Unique values for attr_10: [nan]


---------------------------------



Category: Sarees
attr_1
NaN               10461
same as saree      5230
same as border     1611
default             856
solid               188
Name: count, dtype: int64
  Unique values for attr_1: ['same as saree' nan 'solid' 'same as border' 'default']


---------------------------------


attr_2
zari             8542
woven design     6262
temple border    1296
default           855
NaN               667
solid             411
no border         313
Name: count, dtype: int64
  Unique values for attr_2: ['woven design' 'zari' 'no border' 'solid' 'default' 'temple border' nan]


---------------------------------


attr_3
small border    9520
big border      5781
NaN             2485
no border        560
Name: count, dtype: int64
  Unique values for attr_3: ['small border' 'big border' nan 'no border']


---------------------------------


attr_4
multicolor    5142
cream         4807
default       4078
white         2672
NaN            450
navy blue      339
pink           339
yellow         273
green          246
Name: count, dtype: int64
  Unique values for attr_4: ['multicolor' 'cream' 'white' 'default' nan 'navy blue' 'yellow' 'green'
 'pink']


---------------------------------


attr_5
party          10407
traditional     4973
daily           1322
wedding          947
NaN              697
Name: count, dtype: int64
  Unique values for attr_5: ['party' 'traditional' 'daily' nan 'wedding']


---------------------------------


attr_6
NaN                    13336
jacquard                4195
default                  540
tassels and latkans      275
Name: count, dtype: int64
  Unique values for attr_6: ['jacquard' nan 'default' 'tassels and latkans']


---------------------------------


attr_7
NaN              9450
woven design     3724
zari woven       2678
same as saree    2108
default           386
Name: count, dtype: int64
  Unique values for attr_7: ['woven design' nan 'same as saree' 'default' 'zari woven']


---------------------------------


attr_8
zari woven      13533
NaN              1881
solid            1106
woven design      806
default           789
printed           231
Name: count, dtype: int64
  Unique values for attr_8: ['zari woven' nan 'woven design' 'default' 'solid' 'printed']


---------------------------------


attr_9
NaN             4043
default         3282
ethnic motif    2921
peacock         2585
floral          2516
solid           1124
elephant         716
applique         628
checked          286
botanical        245
Name: count, dtype: int64
  Unique values for attr_9: ['applique' 'elephant' 'floral' 'ethnic motif' nan 'peacock' 'default'
 'solid' 'checked' 'botanical']


---------------------------------


attr_10
no     14835
yes     2983
NaN      528
Name: count, dtype: int64
  Unique values for attr_10: ['no' 'yes' nan]


---------------------------------



Category: Kurtis
attr_1
black         1395
red           1376
maroon        1071
navy blue      717
blue           426
multicolor     407
yellow         353
green          258
pink           220
NaN            193
purple         170
grey           137
white           66
orange          33
Name: count, dtype: int64
  Unique values for attr_1: ['black' 'red' 'navy blue' 'maroon' 'green' nan 'pink' 'blue' 'purple'
 'grey' 'yellow' 'white' 'multicolor' 'orange']


---------------------------------


attr_2
NaN         3591
a-line      2066
straight    1165
Name: count, dtype: int64
  Unique values for attr_2: ['straight' 'a-line' nan]


---------------------------------


attr_3
NaN            3422
knee length    2048
calf length    1352
Name: count, dtype: int64
  Unique values for attr_3: ['knee length' 'calf length' nan]


---------------------------------


attr_4
daily    5961
party     470
NaN       391
Name: count, dtype: int64
  Unique values for attr_4: ['daily' 'party' nan]


---------------------------------


attr_5
NaN        3556
net        2287
default     979
Name: count, dtype: int64
  Unique values for attr_5: ['net' 'default' nan]


---------------------------------


attr_6
NaN        2974
default    2064
solid      1784
Name: count, dtype: int64
  Unique values for attr_6: ['solid' 'default' nan]


---------------------------------


attr_7
NaN        2979
default    2054
solid      1789
Name: count, dtype: int64
  Unique values for attr_7: ['solid' 'default' nan]


---------------------------------


attr_8
three-quarter sleeves    5666
short sleeves             831
sleeveless                205
NaN                       120
Name: count, dtype: int64
  Unique values for attr_8: ['three-quarter sleeves' 'short sleeves' nan 'sleeveless']


---------------------------------


attr_9
regular       6461
sleeveless     230
NaN            131
Name: count, dtype: int64
  Unique values for attr_9: ['regular' 'sleeveless' nan]


---------------------------------


attr_10
NaN    6822
Name: count, dtype: int64
  Unique values for attr_10: [nan]


---------------------------------



Category: Women Tshirts
attr_1
white         4650
default       4297
black         2999
yellow        1838
NaN           1489
multicolor    1392
pink          1380
maroon         729
Name: count, dtype: int64
  Unique values for attr_1: ['multicolor' 'yellow' 'black' 'default' 'pink' 'maroon' 'white' nan]


---------------------------------


attr_2
regular    12376
NaN         3973
loose       1483
boxy         942
Name: count, dtype: int64
  Unique values for attr_2: ['loose' 'boxy' nan 'regular']


---------------------------------


attr_3
regular    8187
crop       6711
NaN        2194
long       1682
Name: count, dtype: int64
  Unique values for attr_3: ['long' 'crop' 'regular' nan]


---------------------------------


attr_4
printed    14285
NaN         2613
default     1040
solid        836
Name: count, dtype: int64
  Unique values for attr_4: ['default' 'solid' 'printed' nan]


---------------------------------


attr_5
typography     5483
funky print    4172
default        2254
quirky         2179
graphic        2038
NaN            1740
solid           908
Name: count, dtype: int64
  Unique values for attr_5: ['default' 'quirky' 'solid' 'graphic' 'funky print' 'typography' nan]


---------------------------------


attr_6
short sleeves    13703
NaN               2733
long sleeves      1460
default            878
Name: count, dtype: int64
  Unique values for attr_6: ['default' 'long sleeves' 'short sleeves' nan]


---------------------------------


attr_7
regular sleeves    14661
NaN                 3314
cuffed sleeves       799
Name: count, dtype: int64
  Unique values for attr_7: ['regular sleeves' nan 'cuffed sleeves']


---------------------------------


attr_8
NaN         18264
default       483
applique       27
Name: count, dtype: int64
  Unique values for attr_8: [nan 'default' 'applique']


---------------------------------


attr_9
NaN    18774
Name: count, dtype: int64
  Unique values for attr_9: [nan]


---------------------------------


attr_10
NaN    18774
Name: count, dtype: int64
  Unique values for attr_10: [nan]


---------------------------------



Category: Women Tops & Tunics
attr_1
NaN           4946
black         2703
white         2433
default       1983
pink          1532
blue           945
yellow         921
red            802
maroon         797
green          666
multicolor     456
navy blue      423
peach          397
Name: count, dtype: int64
  Unique values for attr_1: ['black' 'navy blue' 'red' 'default' 'maroon' 'white' nan 'green' 'blue'
 'pink' 'yellow' 'peach' 'multicolor']


---------------------------------


attr_2
NaN        5667
fitted     5523
regular    4846
boxy       2033
default     935
Name: count, dtype: int64
  Unique values for attr_2: ['regular' 'fitted' 'boxy' nan 'default']


---------------------------------


attr_3
regular    7359
NaN        5938
crop       5707
Name: count, dtype: int64
  Unique values for attr_3: [nan 'crop' 'regular']


---------------------------------


attr_4
round neck         6939
NaN                5553
high               1845
square neck        1213
v-neck             1091
default            1082
sweetheart neck     800
stylised            481
Name: count, dtype: int64
  Unique values for attr_4: [nan 'high' 'round neck' 'stylised' 'sweetheart neck' 'v-neck'
 'square neck' 'default']


---------------------------------


attr_5
casual    12358
NaN        6437
party       209
Name: count, dtype: int64
  Unique values for attr_5: [nan 'casual' 'party']


---------------------------------


attr_6
solid      7755
NaN        5787
printed    4521
default     941
Name: count, dtype: int64
  Unique values for attr_6: [nan 'default' 'printed' 'solid']


---------------------------------


attr_7
solid         8011
NaN           5788
default       1731
typography    1562
quirky         830
graphic        586
floral         496
Name: count, dtype: int64
  Unique values for attr_7: [nan 'solid' 'typography' 'graphic' 'default' 'quirky' 'floral']


---------------------------------


attr_8
short sleeves            7432
NaN                      5207
long sleeves             3515
three-quarter sleeves    1826
sleeveless               1024
Name: count, dtype: int64
  Unique values for attr_8: [nan 'short sleeves' 'sleeveless' 'three-quarter sleeves' 'long sleeves']


---------------------------------


attr_9
regular sleeves    7480
NaN                6433
puff sleeves       2732
default            1640
sleeveless          719
Name: count, dtype: int64
  Unique values for attr_9: ['regular sleeves' 'default' 'sleeveless' nan 'puff sleeves']


---------------------------------


attr_10
NaN              11823
knitted           3628
default           1108
ruffles            819
tie-ups            620
waist tie-ups      582
applique           424
Name: count, dtype: int64
  Unique values for attr_10: [nan 'knitted' 'default' 'ruffles' 'waist tie-ups' 'tie-ups' 'applique']


---------------------------------

In [9]:
df[df['Category'] == 'Men Tshirts']

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
0,0,Men Tshirts,5,default,round,printed,default,short sleeves,NaN,NaN,NaN,NaN,NaN
1,1,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
2,2,Men Tshirts,5,default,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
3,3,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
4,4,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,7424,Men Tshirts,5,NaN,NaN,printed,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7263,7425,Men Tshirts,5,NaN,round,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7264,7426,Men Tshirts,5,NaN,NaN,NaN,default,short sleeves,NaN,NaN,NaN,NaN,NaN
7265,7429,Men Tshirts,5,NaN,NaN,NaN,default,NaN,NaN,NaN,NaN,NaN,NaN
7266,7430,Men Tshirts,5,NaN,NaN,NaN,NaN,short sleeves,NaN,NaN,NaN,NaN,NaN

In [10]:
df[df['Category'] == 'Sarees']

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
7267,7432,Sarees,10,same as saree,woven design,small border,multicolor,party,jacquard,woven design,zari woven,applique,no
7268,7433,Sarees,10,NaN,zari,small border,cream,traditional,NaN,NaN,zari woven,elephant,no
7269,7434,Sarees,10,NaN,zari,small border,white,party,NaN,NaN,zari woven,floral,no
7270,7435,Sarees,10,same as saree,woven design,big border,default,traditional,NaN,same as saree,zari woven,ethnic motif,no
7271,7436,Sarees,10,solid,no border,NaN,NaN,daily,NaN,NaN,NaN,NaN,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25608,25773,Sarees,10,NaN,zari,small border,cream,party,NaN,NaN,zari woven,peacock,no
25609,25774,Sarees,10,NaN,no border,no border,default,party,NaN,zari woven,zari woven,default,no
25610,25775,Sarees,10,NaN,zari,small border,cream,party,NaN,NaN,zari woven,peacock,no
25611,25776,Sarees,10,NaN,temple border,small border,cream,party,NaN,NaN,zari woven,peacock,no
25612,25777,Sarees,10,same as saree,woven design,big border,multicolor,party,jacquard,woven design,zari woven,NaN,no

In [11]:
df[df['Category'] == 'Kurtis']

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
25613,25778,Kurtis,9,black,straight,knee length,daily,net,solid,solid,three-quarter sleeves,regular,NaN
25614,25779,Kurtis,9,red,straight,knee length,daily,default,default,default,three-quarter sleeves,regular,NaN
25615,25780,Kurtis,9,red,straight,knee length,daily,default,default,default,three-quarter sleeves,regular,NaN
25616,25781,Kurtis,9,navy blue,straight,knee length,daily,default,default,default,three-quarter sleeves,regular,NaN
25617,25782,Kurtis,9,black,straight,knee length,daily,default,default,default,three-quarter sleeves,regular,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32430,32596,Kurtis,9,black,NaN,NaN,daily,NaN,NaN,NaN,three-quarter sleeves,regular,NaN
32431,32597,Kurtis,9,red,NaN,NaN,daily,NaN,NaN,NaN,three-quarter sleeves,regular,NaN
32432,32598,Kurtis,9,multicolor,NaN,NaN,daily,NaN,NaN,NaN,three-quarter sleeves,regular,NaN
32433,32599,Kurtis,9,red,NaN,NaN,daily,NaN,NaN,NaN,three-quarter sleeves,regular,NaN
32434,32600,Kurtis,9,black,NaN,NaN,daily,NaN,NaN,NaN,three-quarter sleeves,regular,NaN

In [12]:
df[df['Category'] == 'Women Tops & Tunics']

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
51209,51375,Women Tops & Tunics,10,black,regular,NaN,NaN,NaN,NaN,NaN,NaN,regular sleeves,NaN
51210,51376,Women Tops & Tunics,10,navy blue,fitted,crop,high,casual,default,solid,short sleeves,default,knitted
51211,51377,Women Tops & Tunics,10,red,regular,regular,round neck,casual,printed,typography,sleeveless,sleeveless,NaN
51212,51378,Women Tops & Tunics,10,default,fitted,crop,stylised,casual,solid,solid,short sleeves,regular sleeves,default
51213,51379,Women Tops & Tunics,10,default,boxy,regular,round neck,casual,printed,typography,short sleeves,default,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70208,70374,Women Tops & Tunics,10,multicolor,fitted,regular,square neck,casual,printed,default,short sleeves,regular sleeves,ruffles
70209,70375,Women Tops & Tunics,10,yellow,regular,crop,round neck,casual,default,default,short sleeves,regular sleeves,knitted
70210,70376,Women Tops & Tunics,10,maroon,fitted,crop,round neck,casual,solid,solid,short sleeves,regular sleeves,knitted
70211,70377,Women Tops & Tunics,10,NaN,NaN,NaN,high,NaN,NaN,NaN,short sleeves,NaN,NaN
70212,70378,Women Tops & Tunics,10,pink,boxy,crop,v-neck,casual,printed,typography,short sleeves,regular sleeves,NaN

In [13]:
def specific_null_column(df, category_name):
    null_cases = {}
    total_nulls = 0  # Variable to accumulate the total count of null values

    # Iterate through each unique 'len' value
    for length in df['len'].unique():
        # Filter rows where 'len' matches the current length
        df_filtered = df[df['len'] == length]
        
        # Select only the relevant attributes up to the length specified
        attr_columns = [f'attr_{i+1}' for i in range(length)]
        null_counts = df_filtered[attr_columns].isnull().sum(axis=1)
        
        # Loop through each possible null count from 1 to the specified length
        for i in range(1, length + 1):
            # Count rows with exactly 'i' NaNs, excluding any rows with more than 'i' NaNs
            count = (null_counts == i).sum()
            null_cases[f"{i} column(s) null (for len={length})"] = count
            total_nulls += count  # Add count to total_nulls
    
    # Display results
    for key, value in null_cases.items():
        print(f"{key}: {value}")
    
    # Print the total sum of values
    print(f"Total sum of NaN cases: {total_nulls}")
    print("------------------------------\n")

In [14]:
df_c1 = df[df['Category'] == 'Men Tshirts']
df_c2 = df[df['Category'] == 'Sarees']
df_c3 = df[df['Category'] == 'Kurtis']
df_c4 = df[df['Category'] == 'Women Tshirts']
df_c5 = df[df['Category'] == 'Women Tops & Tunics']

In [15]:
print(f"length of the df_c1 before removing the NaN rows and pre-processing: {len(df_c1)}")
specific_null_column(df_c1, "c1")

print(f"length of the df_c2 before removing the NaN rows and pre-processing: {len(df_c2)}")
specific_null_column(df_c2, "c2")

print(f"length of the df_c3 before removing the NaN rows and pre-processing: {len(df_c3)}")
specific_null_column(df_c3, "c3")

print(f"length of the df_c4 before removing the NaN rows and pre-processing: {len(df_c4)}")
specific_null_column(df_c4, "c4")

print(f"length of the df_c5 before removing the NaN rows and pre-processing: {len(df_c5)}")
specific_null_column(df_c5, "c5")

length of the df_c1 before removing the NaN rows and pre-processing: 7267
1 column(s) null (for len=5): 748
2 column(s) null (for len=5): 659
3 column(s) null (for len=5): 742
4 column(s) null (for len=5): 543
5 column(s) null (for len=5): 0
Total sum of NaN cases: 2692
------------------------------

length of the df_c2 before removing the NaN rows and pre-processing: 18346
1 column(s) null (for len=10): 4980
2 column(s) null (for len=10): 1718
3 column(s) null (for len=10): 7163
4 column(s) null (for len=10): 288
5 column(s) null (for len=10): 130
6 column(s) null (for len=10): 1211
7 column(s) null (for len=10): 210
8 column(s) null (for len=10): 126
9 column(s) null (for len=10): 283
10 column(s) null (for len=10): 0
Total sum of NaN cases: 16109
------------------------------

length of the df_c3 before removing the NaN rows and pre-processing: 6822
1 column(s) null (for len=9): 742
2 column(s) null (for len=9): 934
3 column(s) null (for len=9): 1189
4 column(s) null (for len=9): 1348
5 column(s) null (for len=9): 1104
6 column(s) null (for len=9): 21
7 column(s) null (for len=9): 10
8 column(s) null (for len=9): 9
9 column(s) null (for len=9): 0
Total sum of NaN cases: 5357
------------------------------

length of the df_c4 before removing the NaN rows and pre-processing: 18774
1 column(s) null (for len=8): 12887
2 column(s) null (for len=8): 1650
3 column(s) null (for len=8): 770
4 column(s) null (for len=8): 748
5 column(s) null (for len=8): 787
6 column(s) null (for len=8): 822
7 column(s) null (for len=8): 852
8 column(s) null (for len=8): 0
Total sum of NaN cases: 18516
------------------------------

length of the df_c5 before removing the NaN rows and pre-processing: 19004
1 column(s) null (for len=10): 5337
2 column(s) null (for len=10): 577
3 column(s) null (for len=10): 592
4 column(s) null (for len=10): 870
5 column(s) null (for len=10): 1386
6 column(s) null (for len=10): 1754
7 column(s) null (for len=10): 1937
8 column(s) null (for len=10): 1510
9 column(s) null (for len=10): 971
10 column(s) null (for len=10): 0
Total sum of NaN cases: 14934
------------------------------

In [16]:
import pandas as pd

# Example DataFrame based on the image provided
# Replace this with your actual DataFrame, e.g., df = df_c1
data = {
    'id': [51375, 51376, 51377, 51378, 51379],
    'Category': ['Women Tops & Tunics'] * 5,
    'len': [10, 10, 10, 10, 10],
    'attr_1': ['black', 'navy blue', 'red', 'default', 'default'],
    'attr_2': ['regular', 'fitted', 'regular', 'fitted', 'boxy'],
    'attr_3': [None, 'crop', 'regular', 'crop', 'regular'],
    'attr_4': [None, None, 'round neck', 'stylised', 'round neck'],
    'attr_5': [None, 'casual', 'casual', 'casual', 'casual'],
    'attr_6': [None, 'default', 'printed', 'solid', 'printed'],
    'attr_7': [None, 'solid', 'typography', 'solid', 'typography'],
    'attr_8': [None, 'short sleeves', 'sleeveless', 'short sleeves', 'short sleeves'],
    'attr_9': ['regular sleeves', 'default', 'sleeveless', 'regular sleeves', 'default'],
    'attr_10': [None, 'knitted', None, 'default', None]
}

df_check = pd.DataFrame(data)

# Initialize dictionary to store counts
null_cases = {}

# Iterate through each unique 'len' value
for length in df_check['len'].unique():
    # Filter rows where 'len' matches the current length
    df_filtered = df_check[df_check['len'] == length]
    
    # Select only the relevant attributes up to the length specified
    attr_columns = [f'attr_{i+1}' for i in range(length)]
    null_counts = df_filtered[attr_columns].isnull().sum(axis=1)
    
    # Loop through each possible null count from 1 to the specified length
    for i in range(1, length + 1):
        # Count rows with exactly 'i' NaNs, excluding any rows with more than 'i' NaNs
        count = (null_counts == i).sum()
        null_cases[f"{i} column(s) null (for len={length})"] = count

# Display results
for key, value in null_cases.items():
    print(f"{key}: {value}")

1 column(s) null (for len=10): 3
2 column(s) null (for len=10): 0
3 column(s) null (for len=10): 0
4 column(s) null (for len=10): 0
5 column(s) null (for len=10): 0
6 column(s) null (for len=10): 0
7 column(s) null (for len=10): 1
8 column(s) null (for len=10): 0
9 column(s) null (for len=10): 0
10 column(s) null (for len=10): 0

In [17]:
df_check.head()

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
0,51375,Women Tops & Tunics,10,black,regular,None,None,None,None,None,None,regular sleeves,None
1,51376,Women Tops & Tunics,10,navy blue,fitted,crop,None,casual,default,solid,short sleeves,default,knitted
2,51377,Women Tops & Tunics,10,red,regular,regular,round neck,casual,printed,typography,sleeveless,sleeveless,None
3,51378,Women Tops & Tunics,10,default,fitted,crop,stylised,casual,solid,solid,short sleeves,regular sleeves,default
4,51379,Women Tops & Tunics,10,default,boxy,regular,round neck,casual,printed,typography,short sleeves,default,None